<app-navbar></app-navbar>

<div
    style="position: fixed; left: 50%; top:50%; transform: translate(-50%,-50%); background-color: rgba(10,10,10,0.8); width: 20%; height: 70%; padding: 4rem; padding-top: 3rem;">

    <form [formGroup]="loginForm">
        <div style="display: flex; flex-direction: column; gap: 1rem;">
            <p style="font-size: larger; font: xx-large Trebuchet MS">Sign In</p>
            <input type="text" placeholder="Email or mobile number" name="email" formControlName="email">
            <input type="password" placeholder="Enter your password" name="password" formControlName="password">
            <button type="submit"> Sign In </button>
            <p style="font: small Trebuchet MS; color: dimgray;">New to Netflix? <a routerLink="/signup/register" style="color: whitesmoke;"> Sign up now</a>.</p>
        </div>
    </form>

</div>