
input {
    outline: none;
    padding: 0.8rem;
    border: 0.1rem solid dimgray;
    background-color: rgb(20, 20, 20, 0.5);
    border-radius: 3px;
    color: whitesmoke;

}

p {
    color: whitesmoke;
}

span {

    color: whitesmoke;
    cursor: pointer;
}

span:hover {

    text-decoration: underline;
}

button {

    border: none;
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
    font: 1rem Trebuchet MS;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
}

button:hover {

    filter: brightness(0.8);
}