a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

p{

    color: black;
    font: medium Trebuchet MS;
}

h1{
    font-family: 'Trebuchet MS';
}

input{
    outline: none;
    background-color: rgba(211, 211, 211, 0.355);
    padding: 1rem;
    border: none;
    border-bottom: 0.1rem solid dimgray;
    margin-bottom: 1rem;
    width: 100%;
}

button{

    background-color: crimson;
    border: none;
    color:whitesmoke;
    font: larger Trebuchet MS;
    padding: 1rem;
    cursor: pointer;
    width: 100%;
}

.error{
    color:crimson;
    font: small Trebuchet MS;
}