<form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div style="display: flex; flex-direction: column; gap: 1rem; width: 30%; padding-left: 10vw; padding-top: 5vh;">
        <h1>Contact Us</h1>

        @if(!isSubmitted){
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required minlength="10" class="name-input" [(ngModel)]="nname"
            #name="ngModel">
        <div *ngIf="name.invalid && name.touched">
            <div *ngIf="message.hasError('required')" class="error">
                Name is required.
            </div>
            <div *ngIf="name.hasError('minlength')" class="error">
                Name must be at least 10 characters long.
            </div>
        </div>
        <label for="message">Message:</label>
        <input type="text" id="message" name="message" required minlength="10" class="message-input"
            [(ngModel)]="mmessage" #message="ngModel">
        <div *ngIf="message.invalid && message.touched">
            <div *ngIf="message.hasError('required')" class="error">
                Message is required.
            </div>
            <div *ngIf="message.hasError('minlength')" class="error">
                Message must be at least 10 characters long.
            </div>
        </div>
        <button type="submit"> Send Message </button>
        }
        @else{

        <p style="color: green; font-weight: bold;">Thank you for contacting us. We will be in touch shortly!</p>

        <div>
            <hr>
        </div>

        <p style="font-weight: bold; margin:0;">You have submitted the following message:</p>
        <p style="font-weight: bold; margin:0;">Name:</p>
        <p>{{nname}}</p>
        <p style="font-weight: bold; margin:0;">Message:</p>
        <p>{{mmessage}}</p>

        }

    </div>
</form>