img{
    width: 10vw;
}

button {
    border: none;
    border-radius: 0.2rem;
    background-color: red;
    color: whitesmoke;
    font:medium Trebuchet MS;
    height: 4vh;
    cursor: pointer;
    width: 5vw;
}