<div class="nav-container">
    <p style="font-weight: bold;">CVS Directory</p>
    <div style="display: flex; gap: 2vw;">
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <p>DIRECTORY</p>
        </a>
        <a routerLink="/contactUs" routerLinkActive="active" ariaCurrentWhenActive="page">
            <p>CONTACT US</p>
        </a>
        <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
            <p>ABOUT</p>
        </a>
    </div>
</div>