
:host {
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 90%), url(../../../../public/netflix-background.jpg);
    height: 100vh;
}

p{
    color: whitesmoke;
    font: 2rem Trebuchet MS;
}

h1{
    color:whitesmoke;
    font: 4rem 'Trebuchet MS';
    text-align: center;
}