:host {
    display: block;
    background-image: linear-gradient(rgba(0,0,0,0.9) 10%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.9) 90%), url(../../../../public/netflix-background.jpg);
    height: 100vh;
}

a{
    text-decoration: none;
}
a:visited{
    color: whitesmoke;
}
a:hover{
    text-decoration: underline;
}

input {
    outline: none;
    padding: 0.8rem;
    border: 0.1rem solid dimgray;
    background-color: rgb(20, 20, 20, 0.5);
    border-radius: 3px;
    color: whitesmoke;

}

p {
    color: whitesmoke;
}

button {

    border: none;
    cursor: pointer;
    background-color: red;
    color: whitesmoke;
    font: 1rem Trebuchet MS;
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
}

button:hover {

    filter: brightness(0.8);
}

.error{
    color: crimson;
    font: small Trebuchet MS;
}

.email-error{

    background-color: goldenrod;
    color:black;
    font: small Trebuchet MS;
    padding: 1rem;
    border-radius: 0.3rem;

}