<app-navbar></app-navbar>
<img [src]="'https://image.tmdb.org/t/p/original'+ data.backdrop_path" class="backdrop-img">

<div style="display: flex; position: absolute; bottom: 15%;width: 100%;">

    <div style="width: 50%; padding-left: 5%;">
        <h1> {{data.original_title}}</h1>
        <p>
           <span style="color:goldenrod"> &starf; </span>  {{data.vote_average | number: '1.1-1'}} | {{Math.round(data.popularity)}}

            @for(genre of data.genres; track genre){
            {{genre.name + ","}}
            }
        </p>
        <p class="overview"> {{data.overview}}</p>
        <p> Home Page <a [href]="data.homepage"> {{data.homepage}} </a> </p>

        <button class="play-button"> &#9658; PLAY NOW</button>
        <button class="trailer-button">TRAILER</button>
    </div>

    <div style="width: 50%; padding-top: 5%;">
        <p>Poster</p>
        <div style="display: flex; gap: 1rem; overflow: scroll;max-width: 100%;">
            @for(br of imageData.backdrops | slice:1:10; track br){
                <img [src]="'https://image.tmdb.org/t/p/original'+ br.file_path" class="poster-img" >
            }
        </div>
        <p>Actors</p>

    </div>


</div>