footer{
    display: flex;
    background-color: rgba(211, 211, 211, 0.355);
    margin-top: 5vh;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font: medium Trebuchet MS;
    height: 20vh;
}